.preview {
    flex: 1;
    overflow-y: auto;
    background-color: var(--card-background);
    color: var(--text-color);
}

.file-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.file-tree {
    margin-bottom: 1.5rem;
}

.toggle-icon {
    cursor: pointer;
    margin-left: 5px;
}

.file-size {
    font-size: 0.8em;
    color: #a0a0a0;
}

.file-tree pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    background: #101018;
    border-radius: 0.5rem;
}

.file-section {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

.file-header {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: #181825;
}

.file-body {
    margin: 0;
    padding: 1rem;
    background-color: #101018;
    overflow-x: auto;
    color: var(--text-color);
}

.file-body code {
    font-family: 'Courier New', Courier, monospace;
}

.hljs {
    background: #181818;
    padding: 1em;
    border-radius: 0.375rem;
    color: var(--text-color);
}

.folder-header {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.folder-header:hover {
    background-color: #2a2a3a;
}

.folder-header.selected {
    background-color: #101018;
}

.folder-header.deselected {
    opacity: 0.6;
}

.folder-header .toggle-icon {
    width: 16px;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
}

.folder-header .folder-icon {
    margin-right: 6px;
}

.folder-header .folder-name {
    flex-grow: 1;
    color: var(--text-color);
}

.folder-header .check-icon {
    margin-left: 6px;
    color: var(--secondary-color);
}

.subfolder-container {
    margin-left: 1rem;
    border-left: 1px solid #303045;
}

.folder-gallery div.deselected {
    opacity: 0.5;
    text-decoration: line-through;
}
